 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text = "${user.getName()}"></title>
</head>
<body>
    <p th:text="${user.getName() + ', ' + user.getAge()}">VALUE</p>
    <br/>
    <p th:text="${'Status: ' + user.getStatus()}">VALUE</p>
    <p th:text="${user.getId()}">VALUE</p>
    <p th:text="${'Something about ' + user.getName() + ' : ' +  user.getAbout()}"></p>
    <a href="/users">back</a>
<!--    <a th:href="@{/people/{id}/edit(id= ${person.getId()})}">edit</a>-->
</body>
</html>